<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoryBooks</title>
    <link rel="stylesheet" href="/css/style.css">
    {{!-- add materialize cdn --}}
    {{!-- get fontawesome css cdn --}}
</head>
<body>
    {{> _header}}
    {{> _add_btn}}
    <div class="container">
    {{{body}}}
    </div>
     {{!-- add materilize js cdn --}}
     {{!-- add ck editor cdn --}}
     <script>
       M.Sidenav.init(document.querySelector('.sidenav'))
       M.FormSelect.init(document.querySelector('#status'))

    CKEDITOR.replace('body, {
        plugins: 'wysiwygarea','toolbar', 'wyincs', 'menu'
    })
     </script>
</body>
</html>