<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoryBooks</title>
    <link rel="stylesheet" href="/css/style.css">
    {{!-- add materialize cdn --}}
    {{!-- get fontawesome css cdn --}}
</head>
<body>
    <div class="container">
    {{{body}}}

    </div>
     {{!-- add materilize js cdn --}}
</body>
</html>